**/__pycache__

**/node_modules

**/chain.json
**/core_wallet.json
**/deployed.json
**/iexec.json
**/worker_wallet.json
**/iapp.config.json
**/requester_wallet.json

**/*.h5
**/*.gvmi
**/*.gvmi.descr.bin
**/*.sqlite3

!/iexec/private-blockchain/scheduler-core/chain.json